body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 250px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.product-item h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-item p {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.product-item p.price {
    font-weight: bold;
    color: #333;
}

